<div id="{{ footer_id }}">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                {% if version_info["release"] %}
                    {% if dev_env and version_info["commit"] %}
                    <div class="text-muted">
                        {{ app_name }} <a href="https://github.com/joseantmazonsb/linguard/releases/tag/v{{ version_info["release"] }}">{{ version_info["release"] }}</a> ({{ version_info["commit"][:7] }})
                    </div>
                    {% else %}
                    <div class="text-muted">
                        {{ app_name }} <a href="https://github.com/joseantmazonsb/linguard/releases/tag/v{{ version_info["release"] }}">{{ version_info["release"] }}</a>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="text-muted">Copyleft &#127279; {{ app_name }} {{ year }}</div>
                {% endif %}
                <div>
                    <a href="https://github.com/joseantmazonsb/linguard">Github</a>
                    &middot;
                    <a href="https://github.com/joseantmazonsb/linguard/blob/main/LICENSE.md">License</a>
                </div>
            </div>
        </div>
    </footer>
</div>