<div id="{{ footer_id }}">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyleft &#127279; {{ app_name }} {{ year }}</div>
                <div>
                    <a href="https://github.com/joseantmazonsb/linguard">Github</a>
                    &middot;
                    <a href="https://github.com/joseantmazonsb/linguard/blob/main/LICENSE.md">License</a>
                </div>
            </div>
        </div>
    </footer>
</div>