version: "3.6"

services:
  linguard:
    image: "ghcr.io/joseantmazonsb/linguard:stable"
    container_name: "linguard"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - "${DATA_FOLDER:-/srv/linguard/data}:/data"  # Optional, provides a way to see and edit the configuration files directly from the host.
    network_mode: host
    restart: unless-stopped
    ports:
      - "8080:8080"
