<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="logsource"
              value="${logger:shortName=true}${callsite:className=false:fileName=true:includeSourcePath=false:methodName=false}"/>
    <variable name="layout" value="${longdate} [${level:uppercase=true}] ${logsource}: ${message:withexception=true}"/>
    <targets>
        <target name="logfile" xsi:type="File" fileName="C:\Users\theyu\Documents\Linguard\linguard-web.log" layout="${layout}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>