@using Linguard.Core.Services.Exceptions
@using Linguard.Core.Utils
@using Linguard.Core.Exceptions

<h1 class="mb-3">Something went wrong...</h1>
<h2 class="mb-2">Cause</h2>
<div class="d-flex mb-2">
    <RadzenIcon Icon="error" IconStyle="IconStyle.Danger" class="me-2"></RadzenIcon>
    <p>@Exception.Message</p>
</div>

@if (Exception is ExtendedException extendedException) {
    <h2 class="mb-2">Fixes</h2>
    <h4 class="mb-3">Please, try this before issuing a bug report:</h4>
    @foreach (var fix in extendedException.Fixes) {
        <div class="d-flex">
            <RadzenIcon Icon="info" IconStyle="IconStyle.Info" class="me-2"/>
            <p>@fix</p>
        </div>
    }
}

@code {
    [Parameter]
    public Exception Exception { get; set; }
}