@using Linguard.Core.Configuration
@namespace Linguard.Web.Shared

<div class="row">
    <div class="col-md-6">
        <div class="row mb-2">
            <div class="col">
                <RadzenLabel Text="Maximum login attempts"/>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-xxl-10">
                <RadzenNumeric TValue="int" Min="1" Placeholder="wg0" Trim="true" class="w-100"
                               Value="@Configuration.LoginAttempts"/>
            </div>
        </div>
    </div>
</div>

@inject IJSRuntime _jsRuntime

@code {
    [Parameter]
    public IWebConfiguration Configuration { get; set; }
}