@using Linguard.Core.Configuration
@using Linguard.Web.Configuration
@using Microsoft.AspNetCore.Components
@namespace Linguard.Web.Shared

<!-- Default endpoint and dns -->
<div class="row mb-2">
    <div class="col-3 col-xxl-2">
        <div class="row">
            <div class="col">
                <RadzenLabel class="mb-2" Text="Maximum login attempts"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <RadzenNumeric TValue="int" Min="1" Placeholder="10" Trim="true" class="w-100"
                               @bind-Value="@Options.LoginAttempts"/>
            </div>
        </div>
    </div>
    <div class="col-3 col-xxl-2">
        <div class="row">
            <div class="col">
                <RadzenLabel class="mb-2" Text="Login ban time"/>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex">
                <RadzenNumeric TValue="int" Min="1" Placeholder="60" Trim="true" class="w-100"
                               Value="@((int) Options.LoginBanTime.TotalSeconds)" 
                               ValueChanged="i => Options.LoginBanTime = TimeSpan.FromSeconds(i)"/>
                <em class="ms-2 align-self-center">seconds</em>
            </div>
        </div>
    </div>
</div>

@inject IJSRuntime _jsRuntime

@code {
    [Parameter]
    public IWebOptions Options { get; set; }
}