@using Linguard.Core.Configuration
@using Linguard.Core.Models
@namespace Linguard.Web.Shared

<div class="row">
    <div class="col-md-6">
        <div class="row mb-2">
            <div class="col">
                <RadzenLabel Text="Maximum login attempts"/>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-xxl-10">
                <RadzenNumeric TValue="int" Min="1" Placeholder="wg0" Trim="true"
                               Value="@Configuration.LoginAttempts"
                               Style="width: 100%"/>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <RadzenLabel Text="Theme"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-10">
                <RadzenDropDown TValue="string" AllowClear="false" Placeholder="Select a gateway"
                                Data="@Enum.GetNames(typeof(Style)).Select(s => s.ToString())"
                                Value="@Configuration.Style.ToString()"
                                Change="OnStyleChanged" Style="width: 100%">
                </RadzenDropDown>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IWebConfiguration Configuration { get; set; }
    
    void OnStyleChanged(object styleName) {
        Configuration.Style = Enum.Parse<Style>((string) styleName);
    }
}