{% extends 'base.html' %}

{%  block metas %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Linguard: Wireguard management made simple. " />
    <meta name="author" content="José Antonio Mazón San Bartolomé" />
{% endblock %}

{% block title %}
    {{ app_name }} | {{ title }}
{% endblock %}

{% block styles %}
    <link href="../static/css/styles.css" rel="stylesheet" />
    {% block additional_styles %}
    {% endblock %}
{% endblock %}

{% block prioritary_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body_content %}
{% endblock %}

{% block scripts %}
{% endblock %}