{% extends 'web/web-main.html' %}

{% block additional_prioritary_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels" crossorigin="anonymous"></script>
    <script src="../../static/js/libs/color-scheme.min.js"></script>
    <script src="../../static/js/libs/chartUtils.js"></script>
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">{{ title }}</h1>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-pie mr-1"></i>
                            Interfaces' traffic
                        </div>
                        <div class="card-body">
                            {% if interfaces_chart["labels"] | length < 1 %}
                            <div class="col">
                                There are no interfaces available yet, why don't you <a href="/wireguard/interfaces/add">add one</a>?
                            </div>
                            {% elif interfaces_chart["values"] | length < 1 %}
                            <div class="col">
                                There is no traffic data yet!
                            </div>
                            {% else %}
                            <canvas id="interfacesChart" width="100%" height="40"></canvas>
                            <script>
                                let interface_labels = [
                                {% for label in interfaces_chart["labels"] %}
                                    "{{label}}",
                                {% endfor %}
                                ]
                                chartUtils.createDoughnoutChart("Received and transmitted data in MB", "interfacesChart", interface_labels, {{ interfaces_chart["values"] }},
                                " MB");
                            </script>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-pie mr-1"></i>
                            Peers' traffic
                        </div>
                        <div class="card-body">
                            {% if peers_chart["labels"] | length < 1 %}
                            <div class="col">
                                There are no peers available yet, why don't you <a href="/wireguard/peers/add">add one</a>?
                            </div>
                            {% elif peers_chart["values"] | length < 1 %}
                            <div class="col">
                                There is no traffic data yet!
                            </div>
                            {% else %}
                            <canvas id="peerChart" width="100%" height="40"></canvas>
                            <script>
                                const peer_labels = [
                                {% for label in peers_chart["labels"] %}
                                    "{{label}}",
                                {% endfor %}
                                ]
                                chartUtils.createDoughnoutChart("Received and transmitted data in MB", "peerChart", peer_labels, {{ peers_chart["values"] }},
                                " MB");
                            </script>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block additional_scripts %}
    <!--<script type="module" src="../../static/js/modules/dashboard.mjs"></script>-->
{% endblock %}