{% extends "main.html" %}

{% set footer_id = "layoutAuthentication_footer" %}

{% block body_content %}
    <div class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <form action="{{ url_for(request.endpoint) }}" method="post" novalidate>
                                            {{ form.hidden_tag() }}
                                            <div class="form-group">
                                                {{ form.username.label(class="small") }}
                                                <br>
                                                {% for error in form.username.errors %}
                                                    <span style="color: red;" class="small">{{ error }}</span>
                                                {% endfor %}
                                                {{ form.username(size=64, class="form-control py-4 mt-1") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.password.label(class="small") }}
                                                <br>
                                                {% for error in form.password.errors %}
                                                    <span style="color: red;" class="small">{{ error }}</span>
                                                {% endfor %}
                                                {{ form.password(class="form-control py-4 mt-1") }}
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="rememberPasswordCheck" name="remember" type="checkbox" />
                                                    <label class="custom-control-label" for="rememberPasswordCheck">Remember me</label>
                                                </div>
                                            </div>
                                            <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <!--<a class="small" href="password.html">Forgot Password?</a>-->
                                                {% if banned_for %}
                                                    <span class="font-weight-bold">Too many failed attempts to log in. You may try again in <code>{{ banned_for }}</code> seconds.</span>
                                                {% else %}
                                                    {{ form.submit(class="btn btn-primary") }}
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            {% include "footer.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/main.js"></script>
{% endblock %}