{% extends "web/web-main.html" %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Network</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-ethernet mr-1"></i>
                    Interfaces
                </div>
                <div class="card-body">
                    <div class="row row-cols-2 row-cols-md-3">
                        {% for iface in interfaces.values() %}
                            <div class="col mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">{{ iface.name }}</h5>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>Status</th>
                                                        {% if iface.status == "up" %}
                                                            {% set status_color = "bg-success" %}
                                                        {% elif iface.status == "down" %}
                                                            {% set status_color = "bg-danger" %}
                                                        {% else %}
                                                            {% set status_color = "bg-warning" %}
                                                        {% endif %}
                                                        <td class="{{ status_color }}"> {{ iface.status }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>IPv4</th>
                                                        <td>{{ iface.ipv4 | safe }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>IPv6</th>
                                                        <td>{{ iface.ipv6 | safe }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>MAC</th>
                                                        <td>{{ iface.mac | safe}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Flags</th>
                                                        <td>{{ iface.flags | safe }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% if iface.editable == True %}
                                        <div class="card-footer">
                                          <small><a href="#">Edit</a></small>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Information provided by <code>ip</code> and <code>wg</code> at {{ last_update }}.</small>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Routing table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Destination</th>
                                    <th>Gateway</th>
                                    <th>Device</th>
                                    <th>Protocol</th>
                                    <th>Scope</th>
                                    <th>Metric</th>
                                    <th>Flags</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for route in routes %}
                                    <tr>
                                        <td>{{ route.dst }}</td>
                                        {% if route.gateway %}
                                            <td>{{ route.gateway }}</td>
                                        {% else %}
                                            <td>default</td>
                                        {% endif %}
                                        <td>{{ route.dev }}</td>
                                        {% if route.protocol %}
                                            <td>{{ route.protocol }}</td>
                                        {% else %}
                                            <td>{{ EMPTY_FIELD | safe }}</td>
                                        {% endif %}
                                        {% if route.scope %}
                                        <td>{{ route.scope }}</td>
                                        {% else %}
                                            <td>{{ EMPTY_FIELD | safe }}</td>
                                        {% endif %}
                                        {% if route.metric %}
                                        <td>{{ route.metric }}</td>
                                        {% else %}
                                            <td>{{ EMPTY_FIELD | safe }}</td>
                                        {% endif %}
                                        <td>{{ route.flags | safe }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Information provided by <code>ip</code> at {{ last_update }}.</small>
                </div>
            </div>
        </div>
    </main>
{% endblock %}