<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Summary</div>
                <a class="nav-link" href="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">System</div>
                <a class="nav-link" href="network">
                    <div class="sb-nav-link-icon"><i class="fas fa-network-wired"></i></div>
                    Network
                </a>
                <a class="nav-link" href="wireguard">
                    <div class="sb-nav-link-icon"><i class="fas fa-server"></i></div>
                    Wireguard
                </a>
                <div class="sb-sidenav-menu-heading">Customization</div>
                <a class="nav-link" href="themes">
                    <div class="sb-nav-link-icon"><i class="fas fa-images"></i></div>
                    Themes
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{ username }}
        </div>
    </nav>
</div>