{% extends "web/web-main.html" %}

{% block content %}
    <main>
        <div class="container-fluid">
            <div class="my-4">
                <i class="fas fa-pen mb-1 mr-2"></i>
                <input readonly style="display: inline;"
                       class="h1 border-0 col-8 col-lg-5 col-xl-3" id="name" value="{{ iface.name }}">
                <a href="/wireguard" style="display: inline" class="float-right mt-3">
                    <i class="fas fa-arrow-left mr-2"></i>Back
                </a>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-cog"></i>
                    Configuration
                </div>
                <div class="card-body">
                    <div id="wgIfaceConfig">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="description">Description</label>
                              <textarea type="text" class="form-control"
                                        id="description"
                                        placeholder="Some details..."
                                        >{{ iface.description }}</textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="gw">Gateway interface</label>
                              <input type="text" class="form-control" id="gw" value="{{ iface.gw_iface }}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="ipv4">IPv4</label>
                              <input type="text" class="form-control" id="ipv4" value="{{ iface.ipv4_address }}">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="port">Listen port</label>
                              <input type="text" class="form-control" id="port" value="{{ iface.listen_port }}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="onUp">On up</label>
                              <textarea type="text"
                                        class="form-control"
                                        id="onUp"
                              >{% for cmd in iface.on_up %}{{ cmd }}&#13;&#10;{% endfor %}
                              </textarea>
                            </div>
                            <div class="form-group col-md-4">
                              <label for="onDown">On down</label>
                              <textarea type="text"
                                        class="form-control"
                                        id="onDown"
                              >{% for cmd in iface.on_down %}{{ cmd }}&#13;&#10;{% endfor %}
                              </textarea>
                            </div>
                        </div>
                        <div class="mt-3">
                            <button id="regenerateKeysBtn" class="btn btn-outline-primary">Regenerate keys</button>
                        </div>
                        <div class="mt-3">
                            <button id="saveBtn" class="btn btn-warning">Save</button>
                            <button id="applyBtn" class="btn btn-warning">Apply</button>
                            <i id="wgLoading" class="mt-2 ml-4 fas fa-circle-notch fa-spin" style="display: none"></i>
                            <button id="resetBtn" class="btn btn-danger float-right">Reset</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Information provided at {{ last_update }}.</small>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-user-friends"></i>
                    Peers
                    <a href="/wireguard/peers/add?iface={{ iface.name }}" class="float-right"><i class="fas fa-plus mr-1"></i></a>
                </div>
                <div class="card-body">
                    <div id="wgIfacePeers">
                        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                            {% for peer in iface.peers %}
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-3">{{ peer.name }}</h5>
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <th>Description</th>
                                                            {% if peer.description %}
                                                                <td>{{ peer.description }}</td>
                                                            {% else %}
                                                                <td>{{ EMPTY_FIELD | safe }}</td>
                                                            {% endif %}
                                                        </tr>
                                                        <tr>
                                                            <th>IPv4</th>
                                                            {% if peer.ipv4_address %}
                                                                <td>{{ peer.ipv4_address }}</td>
                                                            {% else %}
                                                                <td>{{ EMPTY_FIELD | safe }}</td>
                                                            {% endif %}
                                                        </tr>
                                                        <tr>
                                                            <th>Primary DNS</th>
                                                            <td>{{ peer.dns1 }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Secondary DNS</th>
                                                            {% if peer.dns2 %}
                                                                <td>{{ peer.dns2 }}</td>
                                                            {% else %}
                                                                <td>{{ EMPTY_FIELD | safe }}</td>
                                                            {% endif %}
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <small><a href="wireguard/peers/{{ peer.name }}">Edit</a></small>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Information provided at {{ last_update }}.</small>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
