{% extends "web/web-main.html" %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="my-4">{{ title }}</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-ethernet mr-1"></i>
                    Interfaces
                </div>
                <div id="wgIfacesHeader" class="card-body">
                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                        {% for iface in interfaces.values() %}
                            <div class="col mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">{{ iface.name }}</h5>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>Status</th>
                                                        {% if iface.status == "up" %}
                                                            {% set status_color = "bg-success" %}
                                                        {% elif iface.status == "down" %}
                                                            {% set status_color = "bg-danger" %}
                                                        {% else %}
                                                            {% set status_color = "bg-warning" %}
                                                        {% endif %}
                                                        <td id="statusIface-{{ iface.name }}" class="{{ status_color }} text-white"> {{ iface.status }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Description</th>
                                                        {% if iface.description %}
                                                            <td>{{ iface.description }}</td>
                                                        {% else %}
                                                            <td>{{ EMPTY_FIELD | safe }}</td>
                                                        {% endif %}
                                                    </tr>
                                                    <tr>
                                                        <th>IPv4</th>
                                                        {% if iface.ipv4 %}
                                                            <td>{{ iface.ipv4 }}</td>
                                                        {% else %}
                                                            <td>{{ EMPTY_FIELD | safe }}</td>
                                                        {% endif %}
                                                    </tr>
                                                    <tr>
                                                        <th>Listen port</th>
                                                        {% if iface.port %}
                                                            <td>{{ iface.port }}</td>
                                                        {% else %}
                                                            <td>{{ EMPTY_FIELD | safe }}</td>
                                                        {% endif %}
                                                    </tr>
                                                    <tr>
                                                        <th>Peers</th>
                                                        <td>{{ iface.peers | length }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        {% if iface.status == "up" %}
                                            {% set button_action = "Stop" %}
                                        {% elif iface.status == "down" %}
                                            {% set button_action = "Start" %}
                                        {% endif %}
                                        <button id="startOrStopIface-{{ iface.name }}-Btn" value="{{ iface.name }}" class="btn btn-warning startOrStopIfaceBtn">{{ button_action }}</button>
                                        <button id="restartIface-{{ iface.name }}-Btn" value="{{ iface.name }}" class="btn btn-warning restartIfaceBtn">Restart</button>
                                        <i id="wgIface-{{ iface.name }}-loading" class="float-right mt-2 fas fa-circle-notch fa-spin" style="display: none"></i>
                                    </div>
                                    <div class="card-footer">
                                        <small><a href="wireguard/interfaces/{{ iface.name }}">Edit</a></small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Information provided by <code>wg</code> at {{ last_update }}.</small>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-user-friends"></i>
                    Peers
                </div>
                <div class="card-body">
                    <div id="wgIfacePeers">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Interface</th>
                                        <th>Description</th>
                                        <th>IPv4</th>
                                        <th>Primary DNS</th>
                                        <th>Secondary DNS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for iface in interfaces.values() %}
                                    {% for peer in iface.peers %}
                                        <tr>
                                            <td><a href="/wireguard/peers/{{ peer.name }}">{{ peer.name }}</a></td>
                                            <td><a href="/wireguard/interfaces/{{ iface.name }}">{{ iface.name }}</a></td>
                                            {% if peer.description %}
                                                <td>{{ peer.description }}</td>
                                            {% else %}
                                                <td>{{ EMPTY_FIELD | safe }}</td>
                                            {% endif %}
                                            {% if peer.ipv4_address %}
                                                <td>{{ peer.ipv4_address }}</td>
                                            {% else %}
                                                <td>{{ EMPTY_FIELD | safe }}</td>
                                            {% endif %}
                                            <td>{{ peer.dns1}}</td>
                                            {% if peer.dns2 %}
                                            <td>{{ peer.dns2 }}</td>
                                            {% else %}
                                                <td>{{ EMPTY_FIELD | safe }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Information provided at {{ last_update }}.</small>
                </div>
            </div>
        </div>
    </main>
{% endblock %}