{% extends "web/web-main.html" %}

{% block content %}
    <main>
        <div id="main" class="enabled">
            <div class="container-fluid">
                <div class="my-4">
                    {% if iface_status == "up" %}
                        <h2 title="Status" class="float-right mt-1"><span class="badge badge-pill badge-success">up</span></h2>
                    {% else %}
                        <h2 title="Status" class="float-right mt-1"><span class="badge badge-pill badge-danger">down</span></h2>
                    {% endif %}
                    <h1 class="my-4">{{ title }}</h1>
                </div>
                {% if success %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Done!</strong> {{ success_details }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% if warning %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ warning_details }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                {% elif error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <strong>Unexpected error:</strong> {{ error_details }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endif %}
                <form action="{{ url_for(request.endpoint, uuid=iface.uuid) }}" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-cog"></i>
                        Configuration
                    </div>
                    <div class="card-body">
                        <div id="alerts">
                            {% for error in form.name.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.name.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.auto.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.auto.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.description.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.description.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.gateway.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.gateway.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.ipv4.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.ipv4.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.port.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.port.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.on_up.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.on_up.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.on_down.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.on_down.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.public_key.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.public_key.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.private_key.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.private_key.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.name.label() }}
                                {{ form.name(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.description.label() }}
                                {{ form.description(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.gateway.label() }}
                                {{ form.gateway(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.ipv4.label() }}
                                {{ form.ipv4(class="form-control") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.port.label() }}
                                {{ form.port(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.on_up.label() }}
                                {{ form.on_up(class="form-control", rows='5') }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.on_down.label() }}
                                {{ form.on_down(class="form-control", rows='5') }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.public_key.label() }}
                                {{ form.public_key(class="form-control", rows='5') }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.private_key.label() }}
                                <span type="button" id="togglePrivateKey">
                                    <i class="fas fa-eye-slash" id="togglePrivateKeyIcon"></i>
                                </span>
                                {{ form.private_key(class="form-control", rows='5') }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <div class="custom-control custom-checkbox">
                                    {{ form.auto(class="custom-control-input") }}
                                    {{ form.auto.label(class="custom-control-label") }}
                                    <span type="button" class="ml-1" data-toggle="popover"
                                        data-placement="top"
                                        data-content="Automatically start the interface after
                                         {{ app_name }} starts up.">
                                        <i class="fas fa-question-circle"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4 mb-0">
                            {{ form.submit(class="btn btn-warning") }}
                            {% if iface_status == "up" %}
                                {% set button_action = "Stop" %}
                                {% set btn_class = "danger" %}
                            {% elif iface_status == "down" %}
                                {% set button_action = "Start" %}
                                {% set btn_class = "success" %}
                            {% endif %}
                            <button type="button" id="removeIfaceBtn" class="btn btn-danger float-right"
                                    data-toggle="modal" data-target="#removeModal-{{ iface.uuid }}">Delete</button>
                            <!-- Modal -->
                            <div class="modal fade" id="removeModal-{{ iface.uuid }}" tabindex="-1" role="dialog"
                                 aria-labelledby="removeModalTitle" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="removeModalTitle">Delete interface</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                      Do you really want to remove <strong>{{ iface.name }}</strong>?
                                      This cannot be undone.
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="button" id="removeIfaceBtn-{{ iface.uuid }}"
                                            class="btn btn-danger removeIfaceBtn">Remove</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Information provided at {{ last_update }}.</small>
                    </div>
                </div>
            </form>
                <!-- Peers -->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-user-friends"></i>
                        Peers
                        <a href="/wireguard/peers/add?interface={{ iface.uuid }}" class="float-right" title="Add"><i class="fas fa-plus mr-1"></i></a>
                    </div>
                    <div class="card-body">
                        <div id="wgIfacePeers">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>IPv4</th>
                                            <th>Primary DNS</th>
                                            <th>Secondary DNS</th>
                                            <th>NAT</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for peer in iface.peers.values() %}
                                            <tr>
                                                <td>{{ peer.name }}</td>
                                                {% if peer.description %}
                                                    <td>{{ peer.description }}</td>
                                                {% else %}
                                                    <td>{{ EMPTY_FIELD | safe }}</td>
                                                {% endif %}
                                                {% if peer.ipv4_address %}
                                                    <td>{{ peer.ipv4_address }}</td>
                                                {% else %}
                                                    <td>{{ EMPTY_FIELD | safe }}</td>
                                                {% endif %}
                                                <td>{{ peer.dns1}}</td>
                                                {% if peer.dns2 %}
                                                    <td>{{ peer.dns2 }}</td>
                                                {% else %}
                                                    <td>{{ EMPTY_FIELD | safe }}</td>
                                                {% endif %}
                                                {% if peer.nat %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                                <td>
                                                    <span type="button" class="btn-link mr-2 downloadBtn" id="downloadBtn-{{ peer.uuid }}">
                                                        <i title="Download" class="fa fa-download downloadBtn" id="downloadBtn-{{ peer.uuid }}"></i>
                                                    </span>
                                                    <a href="/wireguard/peers/{{ peer.uuid }}"
                                                       title="Edit" class="mr-2"><i class="fas fa-pen"></i></a>
                                                    <span data-toggle="modal" data-target="#removeModal-{{ peer.uuid }}"
                                                          type="button" class="btn-link mr-3 removal-link">
                                                        <i title="Remove" class="fas fa-trash"></i>
                                                    </span>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="removeModal-{{ peer.uuid }}" tabindex="-1" role="dialog"
                                                         aria-labelledby="removeTitle" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <h5 class="modal-title" id="removeModalTitle">Delete peer</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                            </button>
                                                          </div>
                                                          <div class="modal-body">
                                                              Do you really want to remove <strong>{{ peer.name }}</strong>?
                                                              This cannot be undone.
                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <button type="button" id="removePeerBtn-{{ peer.uuid }}"
                                                                    class="btn btn-danger removePeerBtn">Remove</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Information provided at {{ last_update }}.</small>
                    </div>
                </div>
                <button value="{{ iface.uuid }}" class="btn btn-{{ btn_class }} startOrStopIfaceBtn mb-3">{{ button_action }}</button>

            </div>
        </div>

    </main>
{% endblock %}

{% block additional_scripts %}
    <script type="module" src="../../static/js/modules/wireguard-iface.mjs"></script>
{% endblock %}