{% extends "web/web-main.html" %}

{% block content %}
    <main>
        <div class="container-fluid">
            <div class="my-4">
                <a href="#" onclick="location.replace(document.referrer)" style="display: inline" class="float-right mt-3">
                    <i class="fas fa-arrow-left mr-2"></i>Back
                </a>
                <h1 class="my-4">{{ title }}</h1>
            </div>
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Unexpected error:</strong> {{ error_details }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}
            <form action="{{ url_for(request.endpoint) }}" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-cog"></i>
                        Configuration
                    </div>
                    <div class="card-body">
                        <div id="alerts">
                            {% for error in form.name.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.name.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.auto.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.auto.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.description.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.description.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.gateway.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.gateway.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.ipv4.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.ipv4.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.port.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.port.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.on_up.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.on_up.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.on_down.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.on_down.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.name.label() }}
                                {{ form.name(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.description.label() }}
                                {{ form.description(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.gateway.label() }}
                                {{ form.gateway(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.ipv4.label() }}
                                {{ form.ipv4(class="form-control") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.port.label() }}
                                {{ form.port(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.on_up.label() }}
                                {{ form.on_up(class="form-control", rows='5') }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.on_down.label() }}
                                {{ form.on_down(class="form-control", rows='5') }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <div class="custom-control custom-checkbox">
                                    {{ form.auto(class="custom-control-input") }}
                                    {{ form.auto.label(class="custom-control-label") }}
                                    <span type="button" class="ml-1" data-toggle="popover"
                                        data-placement="top"
                                        data-content="Automatically start the interface after
                                         {{ app_name }} starts up.">
                                        <i class="fas fa-question-circle"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-4 mb-0">
                {{ form.submit(class="btn btn-warning") }}
                </div>
                <br>
            </form>
        </div>
    </main>
{% endblock %}

{% block additional_scripts %}
    <script type="module" src="../../static/js/modules/wireguard-iface.mjs"></script>
{% endblock %}