{% extends 'web/web-main.html' %}

{% block additional_prioritary_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js" crossorigin="anonymous"></script>
    <script src="../../static/js/libs/color-scheme.min.js"></script>
    <script src="../../static/js/libs/chartUtils.js"></script>
{% endblock %}

{% block additional_styles %}
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="my-4">{{ title }}</h1>
            <div id="global_alerts"></div>
            <!-- Traffic charts -->
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar mr-1"></i>
                            Interfaces' traffic
                        </div>
                        <div class="card-body">
                            <canvas id="interfacesChart" width="100%"></canvas>
                            <script>
                                const colors = chartUtils.getRandomColorPalette(2);
                                let colorIndex = 0;
                                let data = {
                                    labels: {{ interfaces_chart["labels"] | safe }},
                                    datasets: []
                                }
                                for (let dataset of {{ interfaces_chart["datasets"] | safe }}) {
                                    data.datasets.push({
                                        label: dataset["label"],
                                        data: dataset["data"],
                                        backgroundColor: colors[colorIndex]
                                    })
                                    colorIndex++;
                                }
                                let options = {
                                  scales: {
                                      y: {
                                          ticks: {
                                              precision: 2,
                                              callback: function(value, index, values) {
                                                  return chartUtils.ticksFilesizeCallback(value, this.max);
                                              }
                                          },
                                      }
                                  },
                                  plugins: {
                                      title: {
                                          display: true,
                                          text: "Combination of traffic data from current session and history of traffic data (if enabled)"
                                      },
                                      tooltip: {
                                        callbacks: {
                                            label: function(context) {
                                                return chartUtils.tooltipFilesizeCallback(context);
                                            }
                                        }
                                      }
                                  }
                                };
                                new Chart(document.getElementById("interfacesChart"), {
                                    type: 'bar',
                                    data: data,
                                    options: options
                                });
                            </script>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">Information provided by <code>wg</code> at {{ last_update }}.</small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar mr-1"></i>
                            Peers' traffic
                        </div>
                        <div class="card-body">
                            <canvas id="peerChart" width="100%"></canvas>
                            <script>
                                colorIndex = 0;
                                data = {
                                    labels: {{ peers_chart["labels"] | safe }},
                                    datasets: []
                                }
                                for (let dataset of {{ peers_chart["datasets"] | safe }}) {
                                    data.datasets.push({
                                        label: dataset["label"],
                                        data: dataset["data"],
                                        backgroundColor: colors[colorIndex]
                                    })
                                    colorIndex++;
                                }
                                options = {
                                  scales: {
                                      y: {
                                          ticks: {
                                              precision: 2,
                                              callback: function(value, index, values) {
                                                return chartUtils.ticksFilesizeCallback(value, this.max);
                                              }
                                          },
                                      }
                                  },
                                  plugins: {
                                      title: {
                                          display: true,
                                          text: "Combination of traffic data from current session and history of traffic data (if enabled)"
                                      },
                                      tooltip: {
                                        callbacks: {
                                            label: function(context) {
                                                return chartUtils.tooltipFilesizeCallback(context);
                                            }
                                        }
                                      }
                                  }
                                };
                                new Chart(document.getElementById("peerChart"), {
                                    type: 'bar',
                                    data: data,
                                    options: options
                                });
                            </script>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">Information provided by <code>wg</code> at {{ last_update }}.</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- wg ifaces -->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-ethernet mr-1"></i>
                    Interfaces
                    <a href="/wireguard/interfaces/add" class="float-right" title="Add"><i class="fas fa-plus mr-1"></i></a>
                </div>
                <div class="card-body">
                    <div id="wgIfaces">
                        <div class="table-responsive">
                            <table class="table table-bordered dataTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>IPv4</th>
                                        <th>Listen port</th>
                                        <th>Peers</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for iface in interfaces.values() %}
                                        <tr>
                                            <td>
                                                <span>{{ iface.name }}</span>
                                            </td>
                                            {% if iface.description %}
                                                <td>{{ iface.description }}</td>
                                            {% else %}
                                                <td>{{ EMPTY_FIELD | safe }}</td>
                                            {% endif %}
                                            <td>{{ iface.ipv4_address }}</td>
                                            <td>{{ iface.listen_port}}</td>
                                            <td>{{ iface.peers | length}}</td>
                                            <td>{{ iface.status}}</td>
                                            <td>
                                                <a href="/wireguard/interfaces/{{ iface.uuid }}/download" title="Download"
                                                   class="mr-2"><i class="fa fa-download"></i>
                                                </a>
                                                <a href="/wireguard/interfaces/{{ iface.uuid }}" title="Edit" class="mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <span data-toggle="modal" data-target="#removeModal-{{ iface.uuid }}"
                                                      type="button" class="btn-link removal-link">
                                                    <i title="Remove" class="fas fa-trash"></i>
                                                </span>
                                                <!-- Modal -->
                                                <div class="modal fade" id="removeModal-{{ iface.uuid }}" tabindex="-1" role="dialog"
                                                     aria-labelledby="removeIfaceTitle" aria-hidden="true">
                                                  <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="removeModalTitle">Delete interface</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <div class="modal-body">
                                                          Do you really want to remove <strong>{{ iface.name }}</strong>?
                                                          This cannot be undone.
                                                      </div>
                                                      <div class="modal-footer">
                                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                          <button type="button" id="removeIfaceBtn-{{ iface.uuid }}"
                                                                class="btn btn-danger removeIfaceBtn">Remove</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Information provided at {{ last_update }}.</small>
                </div>
            </div>
            <!-- Peers -->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-user-friends mr-1"></i>
                    Peers
                    <a href="/wireguard/peers/add" class="float-right" title="Add"><i class="fas fa-plus mr-1"></i></a>
                </div>
                <div class="card-body">
                    <div id="wgIfacePeers">
                        <div class="table-responsive">
                            <table class="table table-bordered dataTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Interface</th>
                                        <th>Description</th>
                                        <th>IPv4</th>
                                        <th>Primary DNS</th>
                                        <th>Secondary DNS</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for iface in interfaces.values() %}
                                    {% for peer in iface.peers.values() %}
                                        <tr>
                                            <td>
                                                <span>{{ peer.name }}</span>
                                            </td>
                                            <td><a href="/wireguard/interfaces/{{ iface.uuid }}">{{ iface.name }}</a></td>
                                            {% if peer.description %}
                                                <td>{{ peer.description }}</td>
                                            {% else %}
                                                <td>{{ EMPTY_FIELD | safe }}</td>
                                            {% endif %}
                                            {% if peer.ipv4_address %}
                                                <td>{{ peer.ipv4_address }}</td>
                                            {% else %}
                                                <td>{{ EMPTY_FIELD | safe }}</td>
                                            {% endif %}
                                            <td>{{ peer.dns1}}</td>
                                            {% if peer.dns2 %}
                                            <td>{{ peer.dns2 }}</td>
                                            {% else %}
                                                <td>{{ EMPTY_FIELD | safe }}</td>
                                            {% endif %}
                                            <td>
                                                <a href="/wireguard/peers/{{ peer.uuid }}/download" title="Download"
                                                   class="mr-2"><i class="fa fa-download"></i>
                                                </a>
                                                <a href="/wireguard/peers/{{ peer.uuid }}" title="Edit" class="mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <span data-toggle="modal" data-target="#removeModal-{{ peer.uuid }}"
                                                      type="button" class="btn-link removal-link">
                                                    <i title="Remove" class="fas fa-trash"></i>
                                                </span>
                                                <!-- Modal -->
                                                <div class="modal fade" id="removeModal-{{ peer.uuid }}" tabindex="-1" role="dialog"
                                                     aria-labelledby="removePeerTitle" aria-hidden="true">
                                                  <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="removeModalTitle">Delete peer</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <div class="modal-body">
                                                          Do you really want to remove <strong>{{ peer.name }}</strong>?
                                                          This cannot be undone.
                                                      </div>
                                                      <div class="modal-footer">
                                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                          <button type="button" id="removePeerBtn-{{ peer.uuid }}"
                                                                class="btn btn-danger removePeerBtn">Remove</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Information provided at {{ last_update }}.</small>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block additional_scripts %}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="../../static/js/libs/chartUtils.js"></script>
    <script src="../../static/js/libs/datatablesUtils.js"></script>
    <script type="module" src="../../static/js/modules/dashboard.mjs"></script>
{% endblock %}