{% extends "web/web-main.html" %}

{% block content %}
    <main>
        <div class="container-fluid">
            <div class="my-4">
                <a href="#" onclick="location.replace(document.referrer)" style="display: inline" class="float-right mt-3">
                    <i class="fas fa-arrow-left mr-2"></i>Back
                </a>
                <h1 class="my-4">{{ title }}</h1>
            </div>
            {% if success %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Done!</strong> {{ success_details }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if warning %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ warning_details }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            {% elif error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Unexpected error:</strong> {{ error_details }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}
            <form action="{{ url_for(request.endpoint) }}" method="post" novalidate>
                {{ form.hidden_tag() }}

                <!-- Web config -->

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-cog mr-1"></i>
                        Web
                    </div>
                    <div class="card-body">
                        <div id="alerts">
                            {% for error in form.web_login_attempts.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.web_login_attempts.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.web_secret_key.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.web_secret_key.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.web_credentials_file.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.web_credentials_file.label.text }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.web_login_attempts.label() }}
                                <span type="button" class="ml-1" data-toggle="popover"
                                            data-placement="top"
                                            data-content="After this limit is reached, the user won't be able to login for
                                            2 minutes. 0 means unlimited attempts.">
                                            <i class="fas fa-question-circle"></i>
                                </span>
                                {{ form.web_login_attempts(class="form-control") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.web_secret_key.label() }}
                                <span type="button" class="ml-1" data-toggle="popover"
                                            data-placement="top"
                                            data-content="Used for authentication and encryption purposes.">
                                            <i class="fas fa-question-circle"></i>
                                </span>
                                <span type="button" id="toggleSecretKey">
                                    <i class="fas fa-eye-slash" id="toggleSecretKeyIcon"></i>
                                </span>
                                {{ form.web_secret_key(class="form-control") }}
                            </div>
                            <div class="form-group col-md-4">
                            {{ form.web_credentials_file.label() }}
                            <span type="button" class="ml-1" data-toggle="popover"
                                        data-placement="top"
                                        data-content="Storages the credentials of {{ app_name }}'s users.
                                        A restart is required to apply this setting.">
                                        <i class="fas fa-question-circle"></i>
                            </span>
                            {{ form.web_credentials_file(class="form-control") }}
                    </div>
                        </div>
                    </div>
                </div>

                <!-- App config -->

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-cog mr-1"></i>
                        {{ app_name }}
                    </div>
                    <div class="card-body">
                        <div id="alerts">
                            {% for error in form.app_endpoint.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.app_endpoint.label }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.app_interfaces_folder.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.app_interfaces_folder.label }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.app_config_file.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.app_config_file.label }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.app_wg_bin.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.app_wg_bin.label }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.app_wg_quick_bin.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.app_wg_quick_bin.label }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.app_iptables_bin.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.app_iptables_bin.label }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.app_endpoint.label() }}
                                <br>
                                {% for error in form.app_endpoint.errors %}
                                    <span class="small" style="color: red;">{{ error }}</span>
                                {% endfor %}
                                {{ form.app_endpoint(class="form-control") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.app_interfaces_folder.label() }}
                                <br>
                                {% for error in form.app_interfaces_folder.errors %}
                                    <span class="small" style="color: red;">{{ error }}</span>
                                {% endfor %}
                                {{ form.app_interfaces_folder(class="form-control") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.app_config_file.label() }}
                                <br>
                                {% for error in form.app_config_file.errors %}
                                    <span class="small" style="color: red;">{{ error }}</span>
                                {% endfor %}
                                {{ form.app_config_file(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.app_wg_bin.label() }}
                                <br>
                                {% for error in form.app_wg_bin.errors %}
                                    <span class="small" style="color: red;">{{ error }}</span>
                                {% endfor %}
                                {{ form.app_wg_bin(class="form-control") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.app_wg_quick_bin.label() }}
                                <br>
                                {% for error in form.app_wg_quick_bin.errors %}
                                    <span class="small" style="color: red;">{{ error }}</span>
                                {% endfor %}
                                {{ form.app_wg_quick_bin(class="form-control") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.app_iptables_bin.label() }}
                                <br>
                                {% for error in form.app_iptables_bin.errors %}
                                    <span class="small" style="color: red;">{{ error }}</span>
                                {% endfor %}
                                {{ form.app_iptables_bin(class="form-control") }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Logger config -->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-cog mr-1"></i>
                        Logging
                    </div>
                    <div class="card-body">
                        <div id="alerts">
                            {% for error in form.log_overwrite.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.log_overwrite.label }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.log_file.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.log_file.label }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.log_level.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.log_level.label }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.log_file.label() }}
                                {{ form.log_file(class="form-control") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.log_level.label() }}
                                {{ form.log_level(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <div class="custom-control custom-checkbox">
                                    {{ form.log_overwrite(class="custom-control-input") }}
                                    {{ form.log_overwrite.label(class="custom-control-label") }}
                                    <span type="button" class="ml-1" data-toggle="popover"
                                        data-placement="top"
                                        data-content="Whether to overwrite the log file each time {{ app_name }} boots up,
                                        discarding its previous content, or to append the new logs to the file.">
                                        <i class="fas fa-question-circle"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Traffic config -->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-cog mr-1"></i>
                        Traffic data collection
                    </div>
                    <div class="card-body">
                        <div id="alerts">
                            {% for error in form.traffic_enabled.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.traffic_enabled.label }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.traffic_driver.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.traffic_driver.label }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                            {% for error in form.traffic_driver_options.errors %}
                                <div class="alert alert-danger" role="alert">
                                  Error in field <strong>{{ form.traffic_driver_options.label }}</strong>: {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <div class="custom-control custom-checkbox">
                                    {{ form.traffic_enabled(class="custom-control-input") }}
                                    {{ form.traffic_enabled.label(class="custom-control-label") }}
                                    <span type="button" class="ml-1" data-toggle="popover"
                                        data-placement="top"
                                        data-content="Collect peer's traffic data (received and transmitted bytes).">
                                        <i class="fas fa-question-circle"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.traffic_driver.label() }}
                                {{ form.traffic_driver(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.traffic_driver_options.label() }}
                                {{ form.traffic_driver_options(class="form-control", rows=5) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-4 mb-0">
                    {{ form.submit(class="btn btn-warning") }}
                </div>
                <br>
            </form>
        </div>
    </main>
{% endblock %}

{% block additional_scripts %}
    <script type="module" src="../../static/js/modules/settings.mjs"></script>
{% endblock %}