<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    {% if dev_env %}
        <a class="navbar-brand" href="/">{{ app_name }}<span class="ml-2 nav-link badge badge-warning">dev</span></a>
    {% else %}
        <a class="navbar-brand" href="/">{{ app_name }}</a>
    {% endif %}
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></div>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/settings">Settings</a>
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/about">About</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </li>
    </ul>
</nav>