{% extends 'error/error-base.html' %}

{% block content %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mt-4">
                        <h1 class="display-1">{{ error_code }}</h1>
                        <p class="lead">{{ error_msg }}</p>
                        {% block additional_info %}
                        {% endblock %}
                        <br>
                        <a href="/">
                            <i class="fas fa-arrow-left mr-1"></i>
                            Return to Dashboard
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}